{% extends 'base.html' %}
{% block content %}
     <div class="header-bar">
        <h2>Task Detail</h2>
         <p><a href="{% url 'tasks' %}">Go Back</a></p>
    </div>

    <div class="form-body">
        <h4>{{ task.title }}</h4>
        <h5>{{ task.description }}</h5>

        {% if task.completed %}
        <p style="color: limegreen"><b>COMPLETE</b></p>
        {% else %}
        <p style="color: crimson"><b>INCOMPLETE</b></p>
        {% endif %}

        <p>Created: <b>{{ task.created }}</b></p>

        {% if task.deadline == None %}
        <p>Deadline: <i style="color: steelblue">not specified</i></p>
        {% else %}
        <p>Deadline: <b>{{ task.deadline }}</b></p>
        <p>Time remaining: <b>{{ task.deadline|timeuntil }}</b></p>
        {% endif %}


        <div style="margin-top: 20px; text-align: right">
            <a class="form-link" href="{% url 'edit-task' task.id %}">Edit Task</a>
            <a class="form-link" style="margin-left: 20px" href="{% url 'delete-task' task.id %}">Delete Task</a>
        </div>
    </div>

{% endblock %}
