{% extends 'base.html' %}

{% block content %}

    <div class="header-bar">
        <div>
            <h2>{{ request.user|title }}'s Task List</h2>
            <h3 style="color: steelblue">Contains <b style="color: crimson">{{ count }}</b> incomplete task{{ count|pluralize:"s" }}</h3>
        </div>
        <div style="text-align: right">
            <p><a href="{% url 'index' %}">Home Page</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
    </div>

    <div id="search-add-wrapper">
        <form method="get" style="margin-top:10px; display:flex;">
            <input type="text" name="searchbar" placeholder="Search task...">
            <input class="button" type="submit" value="Search">
        </form>
        <a id="add-task" href="{% url 'create-task' %}">&#43;</a>
    </div>

    <div class="task-list-wrapper">
        {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.completed %}
            <div class="task-title">
                <div class="complete"><a href="{% url 'edit-task' task.id %}">&#10003;</a></div>
                <i><s><a href="{% url 'detail-task' task.id %}">{{ task.title }}</a></s></i>
            </div>
            {% else %}
            <div class="task-title">
                <div class="incomplete"><a href="{% url 'edit-task' task.id %}">&#187;</a></div>
                <a href="{% url 'detail-task' task.id %}">{{ task.title }}</a>
            </div>
            {% endif %}
            <div>
                {{ task.deadline|timeuntil }}
                <a class="delete-task" href="{% url 'delete-task' task.id %}">&#215;</a>
            </div>
        </div>
        {% empty %}
            <h3>Empty list</h3>
        {% endfor %}
    </div>

{% endblock content %}