{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'index' %}">Home Page</a>
    <a href="{% url 'password-change' %}">Change Password</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'delete-user' user.id %}">Delete User</a>

    <h2>{{ request.user|title }}'s Task List</h2>

    <form method="get">
        <input type="text" name="searchbar" placeholder="Search task...">
        <input type="submit" value="Search">
    </form>

    <p><a href="{% url 'create-task' %}">Create Task</a></p>

    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td><a href="{% url 'detail-task' task.id %}">Detail</a></td>
                <td><a href="{% url 'edit-task' task.id %}">Edit</a></td>
                <td><a href="{% url 'delete-task' task.id %}">Delete</a></td>
            </tr>
        {% empty %}
            <h3>Empty list</h3>
        {% endfor %}
    </table>

{% endblock content %}