{% extends 'base.html' %}
{% block content %}
     <div class="header-bar">
        <h2>Delete Task</h2>
        <p><a href="{% url 'tasks' %}">Go Back</a></p>
    </div>

    <div class="form-body">
        <h4>{{ task.title }}</h4>
        <h5>{{ task.description }}</h5>

        {% if task.completed %}
        <p style="color: limegreen"><b>COMPLETE</b></p>
        {% else %}
        <p style="color: crimson"><b>INCOMPLETE</b></p>
        {% endif %}

        <p>Created: <b>{{ task.created }}</b></p>

        {% if task.deadline == None %}
        <p>Deadline: <i style="color: steelblue">not specified</i></p>
        {% else %}
        <p>Deadline: <b>{{ task.deadline }}</b></p>
        <p>Time remaining: <b>{{ task.deadline|timeuntil }}</b></p>
        {% endif %}

        <form method="post" style="margin-top:40px; display: flex; justify-content: space-between">
            {% csrf_token %}
            <h4 style="margin: 0">Are you sure that you want to delete this task?</h4>
            <input class="button" type="submit" value="Delete task">
        </form>
    </div>

{% endblock content %}
