{% extends 'base.html' %}

{% block content %}

    <div class="header-bar">
        <div>
            <h2>{{ request.user|title }}'s Task List</h2>
            <h3>Contains <b style="color: crimson">{{ count }}</b> incomplete task{{ count|pluralize:"s" }}</h3>
        </div>
        <div style="text-align: right">
            <p><a href="{% url 'index' %}">Home Page</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
    </div>

    <form method="get">
        <input type="text" name="searchbar" placeholder="Search task...">
        <input type="submit" value="Search">
    </form>

    <p><a href="{% url 'create-task' %}">Create Task</a></p>

    <table>
        <tr>
            <th>Completed</th>
            <th>Task</th>
            <th>Deadline</th>
            <th></th>
        </tr>
        {% for task in tasks %}
            {% if task.completed %}
                <tr>
                    <td class="complete"><a href="{% url 'edit-task' task.id %}">&#10003;</a></td>
                    <td><a href="{% url 'detail-task' task.id %}">{{ task.title }}</a></td>
                    <td>{{ task.deadline }}</td>
                    <td class="delete_task"><a href="{% url 'delete-task' task.id %}">&#215;</a></td>
                </tr>
            {% else %}
                <tr>
                    <td class="incomplete"><a href="{% url 'edit-task' task.id %}">&#187;</a></td>
                    <td><a href="{% url 'detail-task' task.id %}">{{ task.title }}</a></td>
                    <td>{{ task.deadline|timeuntil }}</td>
                    <td class="delete_task"><a href="{% url 'delete-task' task.id %}">&#215;</a></td>
                </tr>
            {% endif %}
        {% empty %}
            <h3>Empty list</h3>
        {% endfor %}
    </table>

{% endblock content %}